[submodule "OCA/rest-framework"]
	path = OCA/rest-framework
	url = https://github.com/OCA/rest-framework.git
	branch = 15.0
[submodule "OCA/connector"]
	path = OCA/connector
	url = https://github.com/OCA/connector.git
	branch = 15.0
